:root {
    --brand-color: #1487FD;
    --extra-color: #FFBB00;
    --title-color: #333333;
    --text-color: #8A8A8A;
    --extra-text-color: #FFFFFF;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }  
  body {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.03em;
    }
    .container {
        min-width: 320px;
        padding: 0 20px;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .grid {
        display: grid;
        /*grid-template-columns: repeat(2, 1fr);*/
        gap: 20px;
       /* justify-content: center;*/
        align-items: center;
        height: 100%;
      }
    .header {
        background-image: url('../images/Group\ 4634.png'), url('../images/Rectangle\ 1914.png');
        background-repeat: no-repeat;
        background-position-x: 25%;
        background-position-y: 95%;
        padding-top: 50px;
        padding-bottom: 100px;
        }
        /*------------------------SLIDER---------------------------*/
@media screen and (min-width: 320px) {
.slick-track {
    display: flex;
    align-items: flex-start;
}   
.slick-list {
    overflow: hidden;
}
.slider {
    position: relative;
    padding: 0px 60px;
}
.slick-arrow { 
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;

}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../images/left-arrow.svg') 0 0 / 100% no-repeat;
    border: none;
    background-color: transparent;

}
.slider .slick-arrow.slick-next {
    right: 0;
    background-image: url('../images/right-arrow.svg');
    background-repeat:  no-repeat;
    border: none;
    background-color: transparent;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 10px;
}

.slick-dots button{
    margin-top: 40px;
    font-size: 0;
    width: 10px;
    height: 10px;
    border: none;
    background-color: lightcoral;
    border-radius: 50%;
}
.slick-dots li.slick-active button{
    background-color: lightseagreen;
}
        }

/*--------------------------------------------------------------------------*/ 
   @media screen and (max-width: 767px) {
        .navigation__menu,
        .navigation__menu__button {
            display: none;
        }
        .about__image {
            display: none;
        }
        .download-call__image {
            display: none;
        }
        .download-call .grid {
            grid-template-columns: 1fr;
        }
        
    }
        @media screen and (min-width: 320px)  {
        h3 {
            color: var(--extra-color);
            text-align: center;
            margin-bottom: 15px;
            width: 87px;
            padding: 5px;
            color: var(--extra-color);
            background-color: #FDF3D7;
            border-radius: 7px;
           
        }
        h2 {
            font-size: 32px;
            font-weight: 900;
            margin-bottom: 25px;
            line-height: 40px;
        }*/
        /*--------------NAVMENY----------*/
        .navigation .container {
            grid-template-columns: 1fr;
            padding-bottom: 15px;
        }
        .logo {
            width: 30%;
        }
        /*--------------HERO------------*/
        .hero .grid {
            grid-template-columns: 55% auto;
            gap: 15px;
            padding-bottom: 20px;
        }
        h1 {
            margin-bottom: 20px;
            color: var(--extra-text-color);
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
        }
        .hero__text{
            margin-bottom: 40px;
            font-size: 12px;
            color: var(--extra-text-color);
            font-weight: 400;
          
        }
        .hero__image img{
            width: 110%;
        }
        .hero__button {
            padding: 10px 16px;
            margin-bottom: 30px;
            background-color: transparent;
            border: var(--extra-text-color) solid 2px;
            border-radius: 12px;
            color: var(--extra-text-color);
        }
        .hero__button:hover,
        .hero__button:focus {
          box-shadow: inset 0 0 0 2em var(--extra-color);
          transition: all 1s linear 0.2s;
        }
        
        .hero-video__button {
            position: relative;
            margin-right: 18px;
            background-color: transparent;
            border: none;
            color: white;
        }
        .video-button {
            align-items: baseline;
        }
        .video-button {
            display: flex;
            align-items: center;
        }
       .hero-video__button::after {
        content: "";
        position: absolute;
        top: -6px;/*-5px;*/
        right: -6px;/*40px;*/
        color: white;
        width: 50px;
        height: 50px;
        border: 2px solid var(--extra-color);
        border-radius: 50%;
       }

        .hero-video__button i {
            color: white;
            vertical-align: middle;

            animation: pulse;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
       /* @keyframes swing{
            0%{-moz-transform:rotate(-3deg)}
            50%{-moz-transform:rotate(3deg)}
            100%{-moz-transform:rotate(-3deg)}
        }
        @keyframes swing{
            0%{-webkit-transform:rotate(-3deg)}
            50%{-webkit-transform:rotate(3deg)}
            100%{-webkit-transform:rotate(-3deg)}
        }*/


        .hero-video__button{
            display: block;
            width: 38px;
            height: 38px;
            color: white;
            border-radius: 50%;
            background-color: var(--extra-color);

            animation-name: switcher;
            animation-duration: 5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        @keyframes switcher{
        0%, 100% {
                background-color: var(--extra-color);
            }
        50% {
            box-shadow: inset 0 0 0 2em var(--brand-color), inset 0 0 0 2em var(--extra-text-color);
                color: var(--extra-color);
            }
              }
        
        .hero-video__button__text {
            color: white;
        }
        /*------------EC---------------*/
        .ec-logo/*.grid*/ {
            grid-template-columns: repeat(4, 1fr);
            padding-bottom: 100px;
        }
        .ec-logo img {
            width: 90%;
        }
        /*----------------ABOUT----------------*/
        
        .about .grid {
            grid-template-columns: 1fr;
        }
        
        
        .about .grid {
            grid-template-columns: 1fr;
        }
        
       .about__button { 
        display: flex;
        padding: 15px;
       /* width: 45%;*/
        max-width: 232px;
        color: #111111;
        margin: 20px 10px;
        text-align: left;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 500;
        font-size: 12px;
        background-color: #F8F8F8;
        transition: background-color 0.25s linear;
    }
    .app-store i {
      margin-right: 25px;
      color: var(--title-color);
      font-size: 36px;
    }
    .google-play img {
      margin-right: 25px;
    }

    .app-name {
      font-size: 22px;
      font-weight: 700;
    } 
    /*------------------FEATURES----------------------*/

    .features .grid   {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .features__image img {
        /*display: none;*/
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    .features__advantages
    {
       display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .features__text {
        margin-bottom: 25px;
    }
    .advantages__item {
        display: flex;
    }
    .advantages__item:not(:last-child)
    {
        margin-bottom: 35px;
    }
 
    .advantages__item__icon {
        width: auto;
        height: 32px;
        padding: 9px 10px;
        margin-right: 10px;
        background-color: #FDF3D7;
        border-radius: 8px;
    }
    .advantages__item__title {
        margin-bottom: 5px;
    }
 
    
    /*------------SCREENS-----------*/
    .screens-image img {
        width: 70%;
    }
    .screens__text {
        text-align: center;
        margin-bottom: 20px;

    }
    

    /*-----------------STATISTIC-------------------*/
    .statistics {
        background-image: url('../images/Layer\ 815.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .statistics-list .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .statistics__title {
        text-align: center;
    }
    .statistics__text {
        text-align: center;
        margin-bottom: 15px;
    }
    .statistics-list__item__number {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 32px;
        color: var(--brand-color);
    }
    .statistics-list__item__text {
        font-weight: 500;
        font-size: 18px;
        color: var(--title-color);
    }
    .statistics-list__item {
        text-align: center;
    }

/*---------------DOWNLOAD-CALL-----------------*/
.download-call {
    padding-top: 40px;
    margin-bottom: 40px;
    background-image: url('../images/Bg_call.png');
    background-repeat: no-repeat;
}
.download-call .grid {
    grid-template-columns: 1fr;
    
}
.download-call__title,
.download-call__text {
    color: var(--extra-text-color);
}
.download-button {
    display: flex;
    flex-wrap: wrap;
}

/*----------------------BLANK-FORM----------------*/

.blank-form__input {
    padding-left: 30px;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
    background-color: #FBFBFB;
    border-radius: 12px;
    border: none;
    font-size: 12px;
    color: #CCCCCC;
}
.blank-form__input:hover {
    border: var(--extra-color) solid 1px;
}
.blank-form__input.message {
    padding-top: 25px;
    height: 233px;
    width: 100%;
}
.blank__title {
    text-align: center;
}
.blank__text {
    margin-bottom: 30px;
    text-align: center;
}
.sent-button {
    display: block;
    margin: 0 auto;
    padding: 19px 92px;
    border: none;
    border-radius: 12px;
    color: var(--extra-text-color);
    background-color: var(--brand-color);
    font-size: 16px;
}
/*-----------------FOOTER-------------------*/
.footer {
    padding: 25px 0;
    background-image: url('../images/Bg_footer.png');
    background-repeat: no-repeat;
}
footer .container {
    padding-bottom: 0;
}
.footer .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

}
.footer .navigation__menu {
    display: flex;
    justify-content: center;      
}
.footer .logo {
    width: 20%;
    display: block;
    margin: 0 auto;
}
.social-icon {
    margin-right: 15px;
}
.social-icons_set {
    display: flex;
    justify-content: center;
}
.navigation__menu__item{
    color: var(--extra-text-color);
    margin-right: 5px;
}
.social-icon .fab {
    text-align: center;
    padding: 10px 0;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    color: var(--extra-text-color);
    background-color: #5EADFE; 
}
}
@media screen and (min-width: 768px) {
    .container {
        padding: 0 25px;
        
    }
    h1 {
        font-weight: 42px;
        line-height: 48px;
    }
    .header {
        background-position-x: 35%;
        background-position-y: 105%;
        padding-top: 50px;
        padding-bottom: 100px;
        }
    .navigation {
        padding-bottom: 20px;
    }
    .navigation .container{
      /* display: grid;*/
        grid-template-columns: 0.5fr 2fr 0.5fr;
        align-items: flex-end;
        /*display: flex;
        align-items: center;
        justify-content: space-between;*/
    }
    .navigation .logo {
        width: 80%;
        animation: pulse;
        animation-duration: 2s;
    }
    
   .navigation__menu {
        display: flex;
        justify-content: flex-end;
    }
    .navigation__menu__item { 
        margin-right: 0;
    }
    .navigation__menu__item:not(:last-child) {
        margin-right: 15px;
    }
    .navigation__menu__item a {
        font-size: 12px;
        font-weight: 500;
        color: var(--extra-text-color);

    }
    .navigation__menu__button {
        padding: 12px 32px;
        font-weight: 500;
        font-size: 12px;
        color: var(--extra-text-color);
        background-color: var(--extra-color);
        border: none;
        border-radius: 12px;
    }
    .navigation__menu__button:hover,
    .navigation__menu__button:focus {
            border: 1px solid;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
            outline-color: rgba(255, 255, 255, 0);
            outline-offset: 15px;
            text-shadow: 1px 1px 2px #427388; 
    }
    .navigation__menu__item a {
        position: relative;
        display: block;
        padding-bottom: 8px;
     
    }
    .navigation__menu__item a:hover {
        color: var(--extra-color);
    }
    .navigation__menu__item a:hover::after {
        content: '';
        width: 20px;
        position: absolute;
        display: block;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: var(--extra-color);
        color: var(--extra-color);
        border-radius: 2px;
    }
    
    .hero .container {
        grid-template-columns: 1fr 1fr;
    }
    .hero__image img{
    width: 80%;
    }
    .hero__button-set {
        display: flex;
    }
    .hero__button {
        margin-right: 30px;
    }
    .video-button {
        align-items: baseline;
    }
    /*------------EC---------------*/
    .ec-logo {
        padding-bottom: 40px;
    }
    .ec-logo.grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
        
    }
    .ec-logo img {
        grid-template-columns: repeat(4, 1fr) ;
        width: 50%;
    }
    /*----------------ABOUT----------------*/
    .about {
        padding-bottom: 80px;
    }
    .about .grid {
        grid-template-columns:  1fr 1.5fr;
    }
    .about__image img {
        height: 450px;
    }
   
    .about__image img {
        height: 350px;
    }
    
    .about__image .second {
        position: absolute;
        left: 14%;
    }
    .about__image .first {
     /*  background-image: url('../images/iPhone.png');
       /* background-image: url('../images/bg_hero.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;*/
        position: relative;

        animation-name: spin;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    /*----------------------------------------------------------------------*/
    .features {
        padding-bottom: 80px;
    }
    .features .grid {
        grid-template-columns: 1fr 1fr;
    }
    .features__advantages
    {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .features__image img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    .advantages__item__icon {
        width: auto;
        height: 39px;
        padding: 1px 9px;
       /* background-color: #FDF3D7;
        border-radius: 8px;*/

    }
 
    .advantages__item:nth-child(odd){
        margin-right: 40px;

    }
    /*-------------------------------------------*/
    .screens {
        padding-bottom: 80px;
    }
    .screens__title {
        text-align: center;
    }
    .screens__text {
        text-align: center;
        margin-bottom: 50px;
    }
    .screens-image img {
        width: 70%;
    }
    /*---------------------------------------------------------------------------------*/
    .statistics {
        padding-bottom: 80px;
    }
    .statistics__title {
        text-align: center;
    }
    .statistics__text {
        text-align: center;
        margin-bottom: 20px;
    }
    .statistics-list.grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .statistics-list {
        text-align: center;
    }
    /****---------------------------------------------------------------------*/
    .download-call {
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .download-call .grid {
        grid-template-columns: 1fr 1fr;
        
    }
    .download-call__image img {
        position: absolute;
        max-width: 400px;
        bottom: 0;
        
    }
    .blank div {
        display: flex;
        justify-content: center;
    }
    /*------------------------------------------------------*/
    .blank-form__input {
        font-size: 14px;
        max-width: 100%;
        margin-right: 20px;
    }
    
    .blank__title {
        text-align: center;
        font-size: 40px;
    }
    .blank__text {
        text-align: center;
    }
    .contact-form {
        padding-bottom: 80px;
    }
}


@media screen and (min-width: 1210px){
    .header {
        background-position-y: 98%;
    }
    .container {
        width: 1210px;
        padding: 0 30px;
    }
    .navigation {
      
        grid-template-columns: 0.5fr 3fr 0.5fr;
        
    }
    h1 {
        font-size: 57px;
        line-height: 86px;
    }
    .text {
        line-height: 30px;
    } 
   h2 {
       font-size: 40px;
       font-weight: 900;
       line-height: 53px;
   }
   .video-button {
       align-items: baseline;
   }
   .navigation__menu__item a {
       font-size: 18px;
   }
   .navigation__menu__button {
       font-size: 16px;
       padding: 15px 39px;
   }
   .logo {
       width: 70%;
       animation: bounceInDown;
   }
   .hero__text {
       font-size: 15px;
   }
   .hero__button {
       font-size: 16px;
       padding: 15px 26px;
       margin-right: 20px;
   }
   .hero__button-set {
       display: flex;
   }
  
   .video-button p {
       font-size: 16px;
   }
   .hero__image img {
       width: 70%;
   }
   .ec-logo {
       padding-bottom: 127px;
   }
   .ec-logo img {
    display: block;
    margin: 0 auto;
   }
   .about {
       margin-bottom: 150px;
   }
   .about .grid {
       grid-template-columns: 1fr 1fr;
   }
   .about__image .second {
    left: 19%;
}
   
   .about__image img {
       height: 600px;
   }
   .about__text {
    font-size: 16px;
    line-height: 30px;
   }
   .about .download-button {
    display: flex;
}
   /*.about__image {
     content: url('../images/iPhone.png');
     background-image: url('../images/bg_hero.png');
     background-repeat: no-repeat;
     background-size: 70%;
     background-position: inherit;
 }*/
 .features {
     padding-bottom: 90px;
     margin-bottom: 120px;
 }
 .features .grid {
    grid-template-columns: 1fr 1fr;
 }
 .features__image img {
     width: 70%;
 }
 .advantages__item__title {
     font-size: 20px;
 }
 .advantages__item__text {
     line-height: 20px;
     font-size: 14px;
 }
 .advantages__item:nth-child(2),
 .advantages__item:nth-child(3){
    margin-bottom: 30px;
}
.advantages__item__icon {
    height: 45px;
    width: auto;
    padding: 5px 12px;
   /* background-color: #FDF3D7;
    border-radius: 8px;*/
}
.screens-image img {
    width: 70%;
}
.statistics {
    margin-bottom: 120px;
}
.statistics-list__item__number {
    font-size: 40px;
    margin-bottom: 20px;
}

.download-call .grid {
    grid-template-columns: 1fr 1fr;
    gap: 100px;
} 
.download-call {
    margin-bottom: 120px;
}
.download-call .download-button {
    display: flex;
}
.download-call__image img {
    max-width: 450px; 
}
.download-call__title {
    font-size: 50px;
    font-weight: 700;
}
.blank-form.flex{
    display: flex;
}
.blank-form__input {
    width: 49%;
}
.footer .logo {
    width: 10%;
}

}